.signIn{
    height: 80.5vh;
    background-color: rgba(137, 43, 226, 0.623);
}
.logIcon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.buttonLog{
    padding: 0;
    margin: 0;
    border:none;
    border-radius: 12px;
}