/* Contenedor grande */
.hero{
    background-image: url(../../images/nav.jpg);
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contenedor pequeño */
.heroItems{
    width: 60%;
    height: 80%;
    background-image: url(../../images/nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 40px;
    border-radius: 15px;
}

/* Icono */
.heroIcon{
    width: 275px;
    height: 275px;
    border-radius: 500px;
}

/* Parrafo */
.heroP{
    font-family: monospace;
    border: solid black 4px;
    font-weight: 800;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(229, 224, 231, 0.756);
}

/* Boton */
.heroButton{
    width: 50%;
    border-radius: 15px;
    background-color: rgba(229, 224, 231, 0.763);
    color: rgb(8, 8, 8);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.heroButton:hover{
    transition: 1s;
    color: white;
    background-color:black;
}

