.card{
    background-color: rgba(55, 41, 117, 0.662);
    padding: 0px;
    box-shadow: -10px 10px 13px black;
    color: white;
}


.imgCard{
    height: 325px;
    object-fit: cover;
}

.cardB{
    background-color: rgba(137, 43, 226, 0.37);
}