.cities {
    background-color: rgba(137, 43, 226, 0.623);
    min-height: 82vh;
}
.search{
    width: 240px;
    box-shadow: -5px 5px 10px black;
}
.error{
    height: 100vh;
    background-color: transparent;
}